.relative-position {
  position: relative;
}

.absolute-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.bottom-corner-wrapper {
  position: absolute;
  bottom: -5%;
  right: 0px;
}

.circular-center-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}