.right-container-menu-item {
  flex-direction: column;
  margin: 0 0 34px 0;
  display: block;
  cursor: pointer;

  h2 {
    font: $regular 16px $roboto;
    color: $dark-text-color;
    padding: 0 0 4px 0;
  }

  h3 {
    font: $regular 12px $roboto;
    color: $light-text-color;
    letter-spacing: 0.5px;
  }
}