$white-background:         #ffffff;
$grey-list-color:          rgba(238, 238, 238, 0.5);
$light-grey-background:    #eeeeee;
$dark-blue-background:     #1e1f3b;
$divider-color-background: rgba(30, 31, 59, 0.12);
$coral-red:                #ff4843;
 
$dark-text-color:          rgba(30, 31, 59, 0.87);
$light-text-color:         rgba(30, 31, 59, 0.54);
$lighter-text-color:       rgba(30, 31, 59, 0.3);
$white-text-color:         #ffffff;