$roboto: 'Roboto', sans-serif;

$thin: 100;
$thin-italic: italic 100;
$extra-light: 200;
$extra-light-italic: 200;
$light: 300;
$light-italic: italic 300;
$regular: 400;
$regular-italic: italic 400;
$medium: 500;
$medium-italic: italic 500;
$bold: 700;
$bold-italic: italic 700;
$black: 900;
$black-italic: italic 900;
